{% extends 'Base.html' %}
{% block content%}



<h3>Wolcome to home page</h3>
<h3>my name is shuhanur rahaman shuhag </h3>
    <p>
       if you want to  <a href="{%url 'registrations' %}">Registation</a>

    </p>
     <p>
       if you want to  <a href="{%url 'login' %}">Login</a>

    </p>
    <p>
   if you want to  <a href="{%url 'judge_data' %}">judge</a>
    </p>
    <p>
        if you want to go  <a href="{%url 'case' %}">case</a>
    </p>
    <p>
   if you want to  <a href="{%url 'ncase' %}">new_case</a>
    </p>
    <p>
   if you want to  <a href="{%url 'lower_data' %}">lower</a>
    </p>
    <p>
   if you want to  <a href="{%url 'police_data' %}">police</a>
    </p>
<p>
   if you want to  <a href="{%url 'case_view' %}">Show Data </a>
    </p>
    <p>
   if you want to  <a href="{%url 'court_view' %}">templets </a>
    </p>
 <p>
   if you want to  <a href="{%url 'case_status' %}">case status  </a>
    </p>
    <p>
   if you want to  <a href="{%url 'court' %}">court  </a>
    </p>
 <p>
   if you want to  <a href="{%url 'test' %}">test  </a>
    </p>








{% endblock%}